<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include ../../../layout/rts/head %>
    <title>Mot de passe oublié - MaRTS - rts.ch</title>
    <script src="https://www.google.com/recaptcha/api.js?hl=fr" async defer></script>
</head>
<body class="rts-body web">

<main class="container">
    <div class="rts-form-container">

        <div class="top-image">
            <img src="<%= link('/img/logo_marts-black.svg')%>">
        </div>


        <h1 class="rts-form-title">Demande de récupération de mot de passe</h1>

        <p id="verification-success" class="rts-message success text-justify">
            Un e-mail contenant un lien de réinitialisation de mot de passe vient de vous être envoyé. Celui-ci peut
            arriver dans vos courriers indésirables (SPAM).
        </p>

        <div class="form-part">

            <p class="text-justify">
                Pour récupérer votre mot de passe, veuillez saisir l'adresse e-mail (identifiant) utilisée lors de la création de votre
                compte. La procédure de récupération de votre mot de passe vous sera envoyée par e-mail.
            </p>

            <p id="verification-error" class="rts-message error text-justify"></p>

            <form id="forgot-password-form" class="rts-form" action="<%= target %>">

                <div class="form-group">
                    <input id="email" type="email" name="email" class="form-control" placeholder="Adresse email (identifiant)" required>
                </div>

                <div class="g-recaptcha" data-sitekey="<%= config.limiter.parameters.recaptcha.site_key %>"></div>

                <input class="btn btn-default btn-rts" type="submit" value="Continuer">
            </form>

        </div>

        <div class="rts-form-links">
            <a href="<%= login %>">Retour à la page de connexion</a>
        </div>

    </div>
</main>

<script>
    $(document).ready(function () {
        var $verifSuccess = $("#verification-success");
        var $verifError = $("#verification-error");

        $("#forgot-password-form").submit(function (event) {
            event.preventDefault();

            var $this = $(this),
                jsonObj = {},
                $container = $this.closest('.rts-form-container');

            $.map($this.serializeArray(), function( n, i ) {
                jsonObj[n.name] = n.value;
            });

            if (jsonObj['g-recaptcha-response'] === "") {
                $verifError.append('Veuillez cliquer "Je ne suis pas un robot"');
                $container.addClass("error");
                grecaptcha.reset();
                return;
            }

            $container.removeClass("success error");

            $.ajax({
                type: 'POST',
                url: $this.attr('action'),
                data: jsonObj,

                success: function (result) {
                    $container.addClass("success");
                },

                error: function (result) {

                    $verifError.empty();

                    if (result.responseJSON.error.errors) {
                        $.each(result.responseJSON.error.errors, function (index, error) {
                            $verifError.append($('<p>').text(error.message));
                        });
                    } else if (!result.responseJSON.error.message) {
                        // FIXME : Add translation
                        $verifError.append("Il semblerait qu'une erreur se soit produite pendant l'envoi de l'email de récupération");
                    } else {
                        $verifError.append(result.responseJSON.error.message);
                    }

                    $container.addClass("error");

                    grecaptcha.reset();
                },
            });
        });

    });

</script>

</body>
</html>
